<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>淘猪宝</title>
	<meta name="keywords" content="淘猪宝">
    <meta name="description" content="淘猪宝">
</head>
<body  ms-controller="index">
	<xmp ms-widget="[{is:'ms-header'}]"></xmp>
	<div class="view-main fn-c">
		<div class="view-left">
			<xmp ms-widget="[{is:'ms-menu-index'}]"></xmp>
		</div>
		<div class="view-right">
			<div class="yuangong">
				<div class="personage-enter-top fn-c">
					<span class="enter-top-s1"></span>
					<span class="enter-top-s2">实时数据</span>
				</div>
				<div class="shop-boss-top">
					<ul>
						<li>
							<div id="todoVerify">0</div>
							<span>待核销订单</span>
						</li>
						<li>
							<div id="todayOrder">0</div>
							<span>今日订单数</span>
						</li>
						<li>
							<div id="todayVolume">0</div>
							<span>今日成交额</span>
						</li>
						<li>
							<p>
								<span>商品数：<b id="goodsQty">0</b></span>
								<span class="vip-border">会员数：<b id="memberQty">0</b></span>
								<span>分销员数：<b id="distributionQty">0</b></span>
							</p>
						</li>
					</ul>
				</div>
				<div class="ui-title-tab fn-c" id="tab">
					<a href="javascript:;" class="on" title="昨天" data-date="1">昨天</a>
					<a href="javascript:;" title="最近七天" data-date="7">最近七天</a>
					<a href="javascript:;" title="最近一个月" data-date="30">最近一个月</a>
					<!-- <a href="javascript:;" title="总计" data-date="0">总计</a> -->
				</div>
				<ul class="data-count fn-c col-4">
					<li class="li-0">
						<p class="type">新增用户</p>
						<p class="num" id="user-news">&nbsp;</p>
					</li>
					<li>
						<p class="type">取消关注用户</p>
						<p class="num" id="user-cancle">&nbsp;</p>
					</li>
					<li>
						<p class="type">净增用户</p>
						<p class="num" id="user-add">&nbsp;</p>
					</li>
					<li>
						<p class="type">累计用户</p>
						<p class="num" id="user-all">&nbsp;</p>
					</li>
				</ul>
				<div class="ui-title fn-c m-t40">
					<div class="h-text">活动数据<span class="low"><!-- (更新时间：2016-03-04 18:00:00) --></span></div>
					<a class="more" href="seo.coupon.html?nav=seo&menu=coupon">更多&gt;&gt;</a>
				</div>
				<table class="table-0">
					<thead>
						<tr>
							<th>优惠券名称</th>
							<th>有效期</th>
							<th>状态</th>
							<th>投放数</th>
							<th>领取数</th>
							<th>核销数</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="activity"></tbody>
				</table>
				<div id="page"></div>
			</div>
		</div>
	</div>
	<xmp ms-widget="[{is:'ms-footer'}]"></xmp>
</body>
</html>